body {
 background-color: #121212;
}
.theme_toggler {
 background-image: url('../images/sun.svg');
 filter: contrast(200%);
}

section {
 background-color: #121212;
 transition: 2s;
}

nav {
 background-color: #f8f8f8;
 transition: 1s;
}

.mobile_nav {
 background-color: #f8f8f8;
}
.mobile_nav a {
 color: #121212;
}
.nav_toggle {
 background-color: #f8f8f8;
 color: #121212;
}

#about .text {
 color: #f8f8f8;
}