body {
 background-color: #121212;
}
.theme_toggler {
 background-image: url('../images/sun.svg');
 filter: contrast(200%);
}

.github_link {
 background-image: url('../images/github-mark-white.svg');
}

.linkedin_link {
 background-image: url('../images/white-linkedin.svg');
}

section {
 background-color: #121212;
 transition: 2s;
}

nav {
 background-color: #fff;
 transition: 1s;
}

.greetings h1 {
 color: #fff;
}

.greetings h2 {
 color: rgb(156, 163, 175);
}

#stack .info,
.my_paragraph,
footer {
 color: rgb(222 224 226);
}

#stack h3,
#stack strong {
 color: #fff;
}
#projects .project:hover {
 background-color: #232323;
}
#stack h1,
section>h1 {
 color: #fff;
}

.mobile_nav {
 background-color: #f8f8f8;
}
.mobile_nav a {
 color: #010101;
}
.nav_toggle {
 background-color: #fff;
 color: #121212;
}