.theme_toggler {
 background: url('../images/white-moon.png');
 background-size: contain;
}

body {
 background-color: #f8f8f8;
 transition: 1s;
}

/* Nav styles */
nav {
 background-color: #121212;
 color: #f8f8f8;
 transition: 1s;
}

.nav_list a {
 color: #f8f8f8;
}

.mobile_nav {
 background-color: #121212;
}
.mobile_nav a {
 color: #f8f8f8;
}
.nav_toggle {
 background-color: #121212;
 color: #f8f8f8;
}
.mobile_nav_toggle {
 color: #f8f8f8;
}
/* Nav styles ^^^ */

/* Home styles */
#home .info {
 color: #121212;
}
#home .info h1 {
 color: #121212;
}
/* Home styles ^^^ */

/* Education */
#education .text{
 color: #121212;
}
/* Education ^^^ */