.theme_toggler {
 background: url('../images/white-moon.png');
 background-size: contain;
}
.github_link {
 background-image: url('../images/github-mark.svg');
}
.linkedin_link {
 background-image: url('../images/linkedin.svg');
}
body {
 background-color: #f8f8f8;
 transition: 1s;
}

nav {
 background-color: #121212;
 color: #f8f8f8;
 transition: 1s;
}
.nav_list a {
 color: #f8f8f8;
}

.greetings h1 {
 color: #313638;
}

.greetings h2 {
 color: #313638;
}

#stack .info,
.my_paragraph,
footer {
 color: #313638;
}

#stack h3,
#stack strong {
 color: #313638;
}

#projects .project:hover {
 background-color: #d0d3d0;
}

#stack h1,
section>h1 {
 color: #313638;
}

.mobile_nav {
 background-color: #000;
}
.mobile_nav a {
 color: #fff;
}
.nav_toggle {
 background-color: #121212;
 color: #f8f8f8;
}
.mobile_nav_toggle {
 color: #f8f8f8;
}