.theme_toggler {
 background: url('../images/white-moon.png');
 background-size: contain;
}

body {
 background-color: #f8f8f8;
 transition: 1s;
}

/* Nav styles */
nav {
 background-color: #121212;
 color: #f8f8f8;
 transition: 1s;
}

.nav_list a {
 color: #f8f8f8;
}

.mobile_nav {
 background-color: #121212;
}
.mobile_nav a {
 color: #f8f8f8;
}
.nav_toggle {
 background-color: #121212;
 color: #f8f8f8;
}
.mobile_nav_toggle {
 color: #f8f8f8;
}
/* Nav styles ^^^ */

/* Home styles */
#home .info {
 color: #121212;
}
#home .info h1 {
 color: #121212;
}
/* Home styles ^^^ */

/* Education */
#education .leaf{
 color: #121212;
}
/* Education ^^^ */

/* Projects */
#projects .project_container {
 color: #121212;
}
#projects .sub_header,
#projects .content .stack {
 color: hsl(0, 0%, 20%);
}
/* Projects ^^^ */

/* Skills */
#skills .sub_header,
#skills {
 color: hsl(0, 0%, 20%);
}
/* Skills ^^^ */